@charset "UTF-8";

:root {
  --cor1: #b9b8bf;
  --cor2: #00090d;
  --cor3: #011f26;
  --cor4: #f28705;
  --cor5: #f25c05;
  --cor6: #150259;
}

body,
html {
  background-color: var(--cor6);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;

  position: relative;
}

section#login {
  background-color: var(--cor1);
  width: 270px;
  height: 510px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.45);
  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition:
    width 0.3s,
    height 0.3s;
  transition-timing-function: ease;
}

section#login > div.imagem {
  display: block;
  background-image: url("../images/pexels-dinnow-86001860-9444476.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

section#login > div.form {
  display: block;
  padding: 10px;
}

section#login > div.form > h1 {
  text-align: center;
}

section#login > div.form > p {
  font-size: 0.8em;
  white-space: pre-line;
}

form > div.campo {
  background-color: var(--cor6);
  height: 40px;
  border-radius: 5px;
  margin: 5px 0;
}

form > div.campo > label {
  display: none;
}

form > div .icon {
  color: #fff;
  font-size: 2em;
  width: 40px;
  padding: 5px;

  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

form > div.campo > input {
  width: calc(100% - 44px);
  height: 100%;
  border-radius: 5px;
  padding: 5px;

  font-size: 1em;

  position: relative;
  left: 42px;
  bottom: 43px;
}

form > div.campo > input:focus-within {
  background-color: #e5b171;
}

form > div > input[type="submit"] {
  display: block;
  width: 100%;
  height: 40px;
  background-color: var(--cor5);
  border: none;
  border-radius: 5px;

  cursor: pointer;

  color: #fff;
}

form > .botoes > input[type="submit"]:hover {
  background-color: #b14100;
}

form > div.botoes > a.botao {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid var(--cor5);
  border-radius: 5px;
  margin-top: 5px;

  color: #00090d;
  text-decoration: none;
  text-align: center;
}

form > div.botoes > a.botao:hover {
  background-color: var(--cor4);
}

form > div.botoes > a.botao > .icon {
  color: var(--cor2);
  font-size: 0.9em;
  vertical-align: 5px;
}

form > div.botoes > a.botao > .icon::before {
  content: "\00a0";
}
